// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
$text-default: #6f6f6f;
$border-color: #dbdbdb;
$input-border: #D5D5D5;
$background-color: #f4f6f8;
$primary: #5CCB9A;
$secondary: #242931;
$success: #5b0;
$danger: #ff6769;
$balance:#25a8ed;
$warning:red;
$small:14px;