 .account-menu {
     //background-color: $light-grey;
     background-color: #004fc5;
     z-index: 99999999;
     width: 100%;
     display: flex;
     font-size: 0.8em;
     padding-right: 1.3em;
     justify-content: space-between;
     position: fixed;
     #toggle-menu {
         flex: auto;
         align-self: flex-start;
         cursor: pointer;
         max-width: 290px;
         background-color: #0856c9;
         margin-left: 0;
     }
     .btn {
         background-color: #fff;
         opacity: 1;
         box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
     }
 }
 
 .menu-items {
     display: flex;
     vertical-align: center;
     &__item {
         margin: 0 8px;
         font-size: 1.2em;
         line-height: 3em;
         padding: 0.7em 1em;
         color: $text-color;
         color: #fff;
         opacity: 0.9;
         letter-spacing: 0.5px;
         i {
             margin-right: 0.5em;
             margin-top: -0.17em;
             vertical-align: middle;
             color: #fff;
         }
         &:hover {
             opacity: 1;
         }
         &--active {
             font-weight: 400;
         }
     }
 }