.top-spacer{
	margin-top: 40px;
}
.create-campaign-wrapper{
	margin-top: 100px;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .intro{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin: 60px;
        flex: 1;
        
    }

    .login-footer{
        margin-bottom: 60px;
        text-align: center;
    }
}  

.kep-login-facebook.metro{
	border-radius: 50px !important;
    width: 80%;
}